USE [THINKPRO]
GO
/****** Object:  Table [dbo].[CHITIETPN]    Script Date: 28/12/2020 15:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPN](
	[ID_PN] [varchar](50) NOT NULL,
	[ID_SP] [varchar](10) NOT NULL,
	[SOLUONGNHAP] [int] NOT NULL,
	[DONGIANHAP] [int] NOT NULL,
 CONSTRAINT [PK_CHITIETPN] PRIMARY KEY CLUSTERED 
(
	[ID_PN] ASC,
	[ID_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETHD]    Script Date: 28/12/2020 15:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHD](
	[ID_HD] [varchar](100) NOT NULL,
	[ID_SP] [varchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_HD] ASC,
	[ID_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHGIA]    Script Date: 28/12/2020 15:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHGIA](
	[ID_DG] [varchar](10) NOT NULL,
	[ID_SP] [varchar](10) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[NGAYGIO] [datetime] NULL,
	[TIEUDE] [nvarchar](100) NULL,
	[NOIDUNG] [ntext] NULL,
	[XEPHANG] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 28/12/2020 15:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[ID_HD] [varchar](100) NOT NULL,
	[ID_USER] [varchar](10) NULL,
	[NGAYLAPHD] [datetime] NULL,
	[GHICHU] [nvarchar](100) NULL,
	[ID_NV] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_HD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI]    Script Date: 28/12/2020 15:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI](
	[ID_LOAI] [varchar](10) NOT NULL,
	[TENLOAI] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_LOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 28/12/2020 15:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[ID_USER] [varchar](10) NOT NULL,
	[ID_VAITRO] [varchar](10) NULL,
	[HOTEN] [nvarchar](50) NULL,
	[DIENTHOAI] [char](11) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[MATKHAU] [varchar](255) NULL,
	[AVATAR] [varchar](255) NULL,
	[GIOITINH] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 28/12/2020 15:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[ID_NCC] [varchar](10) NOT NULL,
	[TENNCC] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_NCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 28/12/2020 15:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[ID_USER] [varchar](10) NOT NULL,
	[HESOLUONG] [int] NOT NULL,
	[TINHTRANG] [bit] NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[ID_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 28/12/2020 15:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[ID_PN] [varchar](50) NOT NULL,
	[ID_NV] [varchar](10) NULL,
	[ID_NCC] [varchar](10) NULL,
	[NGAYNHAP] [datetime] NULL,
 CONSTRAINT [PK_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[ID_PN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 28/12/2020 15:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[ID_SP] [varchar](10) NOT NULL,
	[ID_BRAND] [varchar](10) NULL,
	[ID_LOAI] [varchar](10) NULL,
	[TENSP] [nvarchar](50) NULL,
	[ANH_SP] [varchar](500) NULL,
	[GIATIEN] [float] NULL,
	[DONVITINH] [nvarchar](20) NULL,
	[SOLUONGTONKHO] [int] NULL,
	[ID_TINHTRANG] [varchar](10) NULL,
	[THOIHAN_BH] [nvarchar](20) NULL,
	[THONGTIN] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TINHTRANG]    Script Date: 28/12/2020 15:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINHTRANG](
	[ID_TINHTRANG] [varchar](10) NOT NULL,
	[TENTT] [nvarchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TINHTRANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THONGTIN]    Script Date: 28/12/2020 15:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONGTIN](
	[ID_SP] [varchar](10) NOT NULL,
	[VIXULY] [ntext] NULL,
	[MANHINH] [ntext] NULL,
	[RAM] [ntext] NULL,
	[CARDDOHOA] [ntext] NULL,
	[LUUTRU] [ntext] NULL,
	[PIN] [ntext] NULL,
	[KETNOI] [ntext] NULL,
	[TRONGLUONG] [ntext] NULL,
	[HEDIEUHANH] [ntext] NULL,
	[MAUSAC] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUONGHIEU]    Script Date: 28/12/2020 15:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUONGHIEU](
	[ID_BRAND] [varchar](10) NOT NULL,
	[TENTH] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_BRAND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VAITRO]    Script Date: 28/12/2020 15:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VAITRO](
	[ID_VAITRO] [varchar](10) NOT NULL,
	[TENVAITRO] [nvarchar](20) NULL,
	[DANGNHAP] [bit] NULL,
	[HOADON] [bit] NULL,
	[NGUOIDUNG] [bit] NULL,
	[SANPHAM] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_VAITRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHITIETPN] ([ID_PN], [ID_SP], [SOLUONGNHAP], [DONGIANHAP]) VALUES (N'NP20201223I0001', N'LAP15', 35, 25000000)
INSERT [dbo].[CHITIETPN] ([ID_PN], [ID_SP], [SOLUONGNHAP], [DONGIANHAP]) VALUES (N'NP20201223I0001', N'LAP16', 50, 35000000)
INSERT [dbo].[CHITIETPN] ([ID_PN], [ID_SP], [SOLUONGNHAP], [DONGIANHAP]) VALUES (N'NP20201223I0002', N'PC2', 50, 15000000)
GO
INSERT [dbo].[CHITIETHD] ([ID_HD], [ID_SP], [SOLUONG]) VALUES (N'HD001', N'LAP1', 2)
INSERT [dbo].[CHITIETHD] ([ID_HD], [ID_SP], [SOLUONG]) VALUES (N'HD001', N'PC1', 1)
INSERT [dbo].[CHITIETHD] ([ID_HD], [ID_SP], [SOLUONG]) VALUES (N'HD202012280001', N'LAP2', 1)
GO
INSERT [dbo].[DANHGIA] ([ID_DG], [ID_SP], [HOTEN], [NGAYGIO], [TIEUDE], [NOIDUNG], [XEPHANG]) VALUES (N'7YHNZ8Y6', N'PC5', N'Anonymous', CAST(N'2020-12-27T13:05:02.217' AS DateTime), N'San Pham Tot', N'Su dung ngon lanh', 4)
INSERT [dbo].[DANHGIA] ([ID_DG], [ID_SP], [HOTEN], [NGAYGIO], [TIEUDE], [NOIDUNG], [XEPHANG]) VALUES (N'WOU9KSSD', N'PC5', N'Anonymous', CAST(N'2020-12-27T13:05:23.943' AS DateTime), N'San pham do', N'Hay bi loi', 1)
GO
INSERT [dbo].[HOADON] ([ID_HD], [ID_USER], [NGAYLAPHD], [GHICHU], [ID_NV]) VALUES (N'HD001', N'USER001', CAST(N'2020-12-07T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[HOADON] ([ID_HD], [ID_USER], [NGAYLAPHD], [GHICHU], [ID_NV]) VALUES (N'HD202012280001', N'USER001', CAST(N'2020-12-28T14:25:42.350' AS DateTime), N'', N'ONLINE')
GO
INSERT [dbo].[LOAI] ([ID_LOAI], [TENLOAI]) VALUES (N'LAP', N'Laptop')
INSERT [dbo].[LOAI] ([ID_LOAI], [TENLOAI]) VALUES (N'PC', N'PC')
INSERT [dbo].[LOAI] ([ID_LOAI], [TENLOAI]) VALUES (N'PK', N'Phụ Kiện')
GO
INSERT [dbo].[NGUOIDUNG] ([ID_USER], [ID_VAITRO], [HOTEN], [DIENTHOAI], [DIACHI], [EMAIL], [MATKHAU], [AVATAR], [GIOITINH]) VALUES (N'ONLINE', N'MG', N'Thanh Toán Online', N'0987654321 ', N'Online', N'online@thinkpro.vn', N'D4727C5F343167F5D2454CDE0CFA3864', N'https://i.imgur.com/yIRoqu8.png', N'Nam')
INSERT [dbo].[NGUOIDUNG] ([ID_USER], [ID_VAITRO], [HOTEN], [DIENTHOAI], [DIACHI], [EMAIL], [MATKHAU], [AVATAR], [GIOITINH]) VALUES (N'USER001', N'MG', N'Nguyễn Duy', N'0966740812 ', N'TP.HCM', N'duyntp2000@gmail.com', N'D4727C5F343167F5D2454CDE0CFA3864', N'https://i.imgur.com/8qKkOpe.jpg', N'Nam')
INSERT [dbo].[NGUOIDUNG] ([ID_USER], [ID_VAITRO], [HOTEN], [DIENTHOAI], [DIACHI], [EMAIL], [MATKHAU], [AVATAR], [GIOITINH]) VALUES (N'USER002', N'MG', N'Như Quỳnh', N'0987654321 ', N'Phú Yên', N'nhuquynhnt0711@gmail.com', N'9E43216B90800525C330C6FE6D3F5398', N'https://i.imgur.com/cLZzJdm.png', N'Nữ')
GO
INSERT [dbo].[NHACUNGCAP] ([ID_NCC], [TENNCC]) VALUES (N'GEARVN', N'GEARVN')
INSERT [dbo].[NHACUNGCAP] ([ID_NCC], [TENNCC]) VALUES (N'PV', N'Phong Vũ')
INSERT [dbo].[NHACUNGCAP] ([ID_NCC], [TENNCC]) VALUES (N'TGGD', N'Thế Giới Di Động ')
GO
INSERT [dbo].[NHANVIEN] ([ID_USER], [HESOLUONG], [TINHTRANG]) VALUES (N'ONLINE', 0, 1)
INSERT [dbo].[NHANVIEN] ([ID_USER], [HESOLUONG], [TINHTRANG]) VALUES (N'USER001', 75000, 1)
INSERT [dbo].[NHANVIEN] ([ID_USER], [HESOLUONG], [TINHTRANG]) VALUES (N'USER002', 80000, 0)
GO
INSERT [dbo].[PHIEUNHAP] ([ID_PN], [ID_NV], [ID_NCC], [NGAYNHAP]) VALUES (N'NP20201223I0001', N'USER001', N'PV', CAST(N'2020-12-23T01:50:09.937' AS DateTime))
INSERT [dbo].[PHIEUNHAP] ([ID_PN], [ID_NV], [ID_NCC], [NGAYNHAP]) VALUES (N'NP20201223I0002', N'USER001', N'TGGD', CAST(N'2020-12-23T01:52:01.530' AS DateTime))
GO
INSERT [dbo].[SANPHAM] ([ID_SP], [ID_BRAND], [ID_LOAI], [TENSP], [ANH_SP], [GIATIEN], [DONVITINH], [SOLUONGTONKHO], [ID_TINHTRANG], [THOIHAN_BH], [THONGTIN]) VALUES (N'LAP1', N'AC', N'LAP', N'Laptop Acer Aspire 5 A514 54 39KU', N'https://i.imgur.com/1tCMMcL.png', 13490000, N'VND', 10, N'NEW', N'12', NULL)
INSERT [dbo].[SANPHAM] ([ID_SP], [ID_BRAND], [ID_LOAI], [TENSP], [ANH_SP], [GIATIEN], [DONVITINH], [SOLUONGTONKHO], [ID_TINHTRANG], [THOIHAN_BH], [THONGTIN]) VALUES (N'LAP10', N'HP', N'LAP', N'Laptop HP 15s FQ1107TU 193Q3PA', N'https://i.imgur.com/hjGb4A0.png', 9990000, N'VND', 10, N'NEW', N'12', NULL)
INSERT [dbo].[SANPHAM] ([ID_SP], [ID_BRAND], [ID_LOAI], [TENSP], [ANH_SP], [GIATIEN], [DONVITINH], [SOLUONGTONKHO], [ID_TINHTRANG], [THOIHAN_BH], [THONGTIN]) VALUES (N'LAP11', N'HP', N'LAP', N'Laptop HP ProBook 455 G7 1A1A9PA', N'https://i.imgur.com/hMyBGD6.png', 15690000, N'VND', 10, N'NEW', N'12', NULL)
GO
INSERT [dbo].[TINHTRANG] ([ID_TINHTRANG], [TENTT]) VALUES (N'CU99', N'Máy Cũ 99%')
INSERT [dbo].[TINHTRANG] ([ID_TINHTRANG], [TENTT]) VALUES (N'NEW', N'Máy Mới')
GO
INSERT [dbo].[THONGTIN] ([ID_SP], [VIXULY], [MANHINH], [RAM], [CARDDOHOA], [LUUTRU], [PIN], [KETNOI], [TRONGLUONG], [HEDIEUHANH], [MAUSAC]) VALUES (N'LAP1', N'Intel Core i3-1005G1 1.2GHz up to 3.4GHz 4MB', N'15.6" FHD (1920 x 1080) Acer ComfyView LCD, Anti-Glare', N'4GB DDR4 2400MHz Onboard (1x SO-DIMM socket, up to 12GB SDRAM)', N'Intel UHD Graphics', N'256GB SSD M.2 PCIE, 1x slot SATA3 2.5"', N'3 Cell 36.7 Whr', NULL, N'1.7 kg', N'Windows 10 Home', N'Shale Black')
INSERT [dbo].[THONGTIN] ([ID_SP], [VIXULY], [MANHINH], [RAM], [CARDDOHOA], [LUUTRU], [PIN], [KETNOI], [TRONGLUONG], [HEDIEUHANH], [MAUSAC]) VALUES (N'LAP10', N'Intel® Core™ i3-1005G1(tần số cơ bản 1.2 GHz, upto 3.4Ghz, bộ nhớ đệm 4 MB, 2 lõi)', N'15,6" HD', NULL, N'Intel® HD Graphics 620', N'256 GB PCIe® NVMe™ M.2 SSD', N'3-cell, 41 Wh Li-ion', NULL, N'1,74 kg', N'Windows 10 Home', N'Bạc')
INSERT [dbo].[THONGTIN] ([ID_SP], [VIXULY], [MANHINH], [RAM], [CARDDOHOA], [LUUTRU], [PIN], [KETNOI], [TRONGLUONG], [HEDIEUHANH], [MAUSAC]) VALUES (N'LAP11', N'AMD Ryzen 5-4500U 2.3GHz up to 4.0GHz 8MB', N'15.6" FHD (1920 x 1080) Diagonal IPS Anti-Glare WLED-Backlit, 45% NTSC, 250nits', N'4GB DDR4 3200MHz (2x SO-DIMM socket, up to 32GB SDRAM)', N'AMD Radeon™ Graphics', N'256GB SSD M.2 PCIE', N'3 Cell 45WHr', NULL, N'2 kg', N'Windows 10 Home', N'Bạc')
GO
INSERT [dbo].[THUONGHIEU] ([ID_BRAND], [TENTH]) VALUES (N'AC', N'Acer')
INSERT [dbo].[THUONGHIEU] ([ID_BRAND], [TENTH]) VALUES (N'AP', N'Apple')
INSERT [dbo].[THUONGHIEU] ([ID_BRAND], [TENTH]) VALUES (N'AS', N'ASUS')
GO
INSERT [dbo].[VAITRO] ([ID_VAITRO], [TENVAITRO], [DANGNHAP], [HOADON], [NGUOIDUNG], [SANPHAM]) VALUES (N'MG', N'Quản Lý', 1, 1, 1, 1)
INSERT [dbo].[VAITRO] ([ID_VAITRO], [TENVAITRO], [DANGNHAP], [HOADON], [NGUOIDUNG], [SANPHAM]) VALUES (N'NV', N'Nhân Viên', 1, 1, 0, 1)
INSERT [dbo].[VAITRO] ([ID_VAITRO], [TENVAITRO], [DANGNHAP], [HOADON], [NGUOIDUNG], [SANPHAM]) VALUES (N'NVNH', N'Nhân Viên Nhập Kho', 1, 0, 0, 1)
GO
ALTER TABLE [dbo].[CHITIETPN]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPN_PHIEUNHAP] FOREIGN KEY([ID_PN])
REFERENCES [dbo].[PHIEUNHAP] ([ID_PN])
GO
ALTER TABLE [dbo].[CHITIETPN] CHECK CONSTRAINT [FK_CHITIETPN_PHIEUNHAP]
GO
ALTER TABLE [dbo].[CHITIETPN]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPN_SANPHAM] FOREIGN KEY([ID_SP])
REFERENCES [dbo].[SANPHAM] ([ID_SP])
GO
ALTER TABLE [dbo].[CHITIETPN] CHECK CONSTRAINT [FK_CHITIETPN_SANPHAM]
GO
ALTER TABLE [dbo].[CHITIETHD]  WITH CHECK ADD FOREIGN KEY([ID_HD])
REFERENCES [dbo].[HOADON] ([ID_HD])
GO
ALTER TABLE [dbo].[CHITIETHD]  WITH CHECK ADD FOREIGN KEY([ID_SP])
REFERENCES [dbo].[SANPHAM] ([ID_SP])
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD FOREIGN KEY([ID_SP])
REFERENCES [dbo].[SANPHAM] ([ID_SP])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([ID_USER])
REFERENCES [dbo].[NGUOIDUNG] ([ID_USER])
GO
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD FOREIGN KEY([ID_VAITRO])
REFERENCES [dbo].[VAITRO] ([ID_VAITRO])
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_NGUOIDUNG] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[NGUOIDUNG] ([ID_USER])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_NGUOIDUNG]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NGUOIDUNG] FOREIGN KEY([ID_NV])
REFERENCES [dbo].[NHANVIEN] ([ID_USER])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NGUOIDUNG]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NHACUNGCAP] FOREIGN KEY([ID_NCC])
REFERENCES [dbo].[NHACUNGCAP] ([ID_NCC])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NHACUNGCAP]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD FOREIGN KEY([ID_BRAND])
REFERENCES [dbo].[THUONGHIEU] ([ID_BRAND])
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD FOREIGN KEY([ID_LOAI])
REFERENCES [dbo].[LOAI] ([ID_LOAI])
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD FOREIGN KEY([ID_TINHTRANG])
REFERENCES [dbo].[TINHTRANG] ([ID_TINHTRANG])
GO
ALTER TABLE [dbo].[THONGTIN]  WITH CHECK ADD  CONSTRAINT [FK_THONGTIN_SANPHAM] FOREIGN KEY([ID_SP])
REFERENCES [dbo].[SANPHAM] ([ID_SP])
GO
ALTER TABLE [dbo].[THONGTIN] CHECK CONSTRAINT [FK_THONGTIN_SANPHAM]
GO
